@charset "UTF-8";

:root {
    /* Paleta  de cores */
    --verde: #49a09d;
    --lilas: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transition: width .5s, height .5s;
    transition-timing-function: ease;
    rotate: 2deg;
}

div#imagem {
    background-image: url(../imagens/metal.jpg);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

div#formulario { 
    display: block;
}

div#formulario > h1 {
    margin: 10px;
    text-align: center;
}

div#formulario > p {
    margin: 9px;
    text-align: justify;
    font-size: 12px;
}

.campo {
    background-color: #5f2c82;
    margin:5px;
    height: 40px;
    border-radius: 10px;
}

#email {
    position: absolute;
    height: 36px;
    width: 191px;

    left: 23%;
    
    transform: translate(-3%, 6%);

    border-radius: 10px;
    background-color: #5dc0bd;
    
    font-size: 18px;
    padding: 4px;
    border: none;

}

#senha {
    position: absolute;
    height: 36px;
    width: 191px;

    left: 23%;
    
    transform: translate(-3%, 6%);

    border-radius: 10px;
    background-color: #5dc0bd;
    
    font-size: 18px;
    padding: 4px;
    border: none;
}

i {
    position: absolute;

    left: 10%;
    font-size: 30px;
    color: white;

    transform: translate(-30%, 20%);
}

#entrar {
    width: 100%;
    margin: auto;
}

.entrar {
    height: 36px;
    width: 100%;
    margin: auto;
    border: none;
    background-color: #49a09d;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.entrar a {
    text-decoration: none;
    color: white;
}

#esquecer  .botao {
    background-color: white;
    border: 1px solid #397a78;
    width: 232px;
    height: 36px;
    margin: auto;
    text-align: center;
    margin: 10px;
    color: #36706e;
    padding-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #36706e34;
}

div > a {
    text-decoration: none;
}

.material-symbols-outlined {
    position: absolute;

    left: 80%;

    transform: translate(13%, 155%);
    
    font-size: 14px;

    color: #36706e;

    cursor: pointer;
}
