@charset "UTF-8";

:root {
    /* Paleta  de cores */
    --verde: #49a09d;
    --lilas: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

div#imagem {
    background-image: url(../imagens/metal.jpg);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

div#formulario > h1 {
    margin: 10px;
    text-align: center;
}

div#formulario > p {
    margin: 9px;
    text-align: justify;
    font-size: 12px;
}

.login {
    background-color: #5f2c82;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}

#email {
    position: absolute;
    height: 36px;
    width: 185px;

    left: 23%;
    
    transform: translate(-3%, 6%);

    border-radius: 10px;
    background-color: #5dc0bd;
    
    font-size: 18px;
    padding: 4px;
    border: none;

}

#senha {
    position: absolute;
    height: 36px;
    width: 185px;

    left: 23%;
    
    transform: translate(-3%, 6%);

    border-radius: 10px;
    background-color: #5dc0bd;
    
    font-size: 18px;
    padding: 4px;
    border: none;
}

i {
    position: absolute;

    left: 10%;
    font-size: 30px;
    color: white;

    transform: translate(-30%, 20%);
}

#auto {
    width: 230px;
    margin: auto;
}

.loginn {
    height: 36px;
    width: 230px;
    margin: auto;
    border: none;
    background-color: #49a09d;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.loginn a {
    text-decoration: none;
    color: white;
}

#esquecer  #a {
    background-color: white;
    border: 1px solid #397a78;
    width: 230px;
    height: 36px;
    margin: auto;
    text-align: center;
    margin: 10px;
    color: #36706e;
    padding-top: 5px;
    text-decoration: none;
    border-radius: 5px;
}

div > a {
    text-decoration: none;
}

.material-symbols-outlined {
    position: absolute;

    left: 80%;

    transform: translate(0%, 123%);
    
    font-size: 16px;

    color: #36706e;

    cursor: pointer;
}